In [1]:
import mysql.connector as sql
from mysql.connector import Error
import pandas as pd

For connecting to database

In [2]:
#Creating a connection:

def create_server_connection(host_name,user_name,user_password):
    connection = None
    try:
        connection =  sql.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print("MySQL Database connection succesful")
        
    except Error as err:
        print(f"Error: '{err}'")
    return connection

#connecting to the database:

pw = "Password"
db = "test"
connection = create_server_connection("127.0.0.1","root",pw)

MySQL Database connection succesful

In [3]:
#creating sql_python database0

def create_database(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created succcesfully")
    except Error as err:
        print(f"Error:'{err}'")
        
create_database_query = 'CREATE DATABASE mysql_python'
create_database(connection,create_database_query)

Error:'1007 (HY000): Can't create database 'mysql_python'; database exists'

In [4]:
#Execute SQL query

def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successfully executed")
    except Error as err:
        print(f"Error: '{err}'")

In [5]:
def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection = sql.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name)
        print("MySql database connection successfull")
    except Error as err:
        print(f"Error: {err}")
    return connection

In [6]:
db = "mysql_python"
create_orders_table = """
CREATE TABLE orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""
#connect to the database
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,create_orders_table)

MySql database connection successfull
Error: '1050 (42S01): Table 'orders' already exists'

In [7]:
#Insert data
data_orders = """
insert into orders values
(103,'Mark','Laptop','2020-06-12',2,800,'6456730802'),
(102,'Jose','Laptop','2019-12-1',2,800,'6293733402')
"""

connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,data_orders)

MySql database connection successfull
Error: '1062 (23000): Duplicate entry '103' for key 'orders.PRIMARY''

In [8]:
def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [9]:
#Using the select statement
q1 = """
SELECT *FROM orders;
"""
connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q1)
for result in results:
    print(result)

MySql database connection successfull
(102, 'Jose', 'Laptop', datetime.date(2019, 12, 1), 2, 800.0, '6293733402')
(103, 'Mark', 'Laptop', datetime.date(2020, 6, 12), 2, 800.0, '6456730802')

In [19]:
q1 = """
select * from MALLS;
"""
q2 = '''
Select HOTELS.NAME,HOTELS.PLACE,HOTELS.AVG_PRICE,GAMES.NAME,GAMES.PLACE,GAMES.PRICE,MALLS.NAME,MALLS.PLACE,MALLS.AVG_PRICE,HANGOUTS.NAME,HANGOUTS.PLACE,HANGOUTS.PRICE,(HOTELS.AVG_PRICE+MALLS.AVG_PRICE+HANGOUTS.PRICE+GAMES.PRICE)
 from HOTELS,GAMES,MALLS,HANGOUTS where (HOTELS.AVG_PRICE+MALLS.AVG_PRICE+HANGOUTS.PRICE+GAMES.PRICE) < 10000;
'''
connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q2)

print(results)
#for data in results:
#    print(data)

MySql database connection successfull
Error: '1146 (42S02): Table 'mysql_python.HOTELS' doesn't exist'
None

In [54]:
x = input("1.hotel\n2.games\n3.malls\n4.hangouts")
print(x.split())
part1 = []
header = ''
part2 = []
summ = ''
part3 = []
tables = ''
part4 = []
cond = ''
part5 = 10000
cond2 = ''
final_string = ''
maximum = 10000

1.hotel
2.games
3.malls
4.hangouts2 4
['2', '4']

In [55]:
if '1' in x:
    part1.append("HOTELS.NAME,HOTELS.PLACE,HOTELS.AVG_PRICE")
    part2.append("HOTELS.AVG_PRICE")
    part3.append("HOTELS")
    part4.append("HOTELS.AVG_PRICE")
    part5 = '10000'
if '2' in x:
    part1.append("GAMES.NAME,GAMES.PLACE,GAMES.PRICE")
    part2.append("GAMES.PRICE ")
    part3.append("GAMES")
    part4.append("GAMES.PRICE")
if '3' in x:
    part1.append("MALLS.NAME,MALLS.PLACE,MALLS.AVG_PRICE")
    part2.append("MALLS.AVG_PRICE ")
    part3.append("MALLS")
    part4.append("MALLS.AVG_PRICE")
if '4' in x:
    part1.append("HANGOUTS.NAME,HANGOUTS.PLACE,HANGOUTS.PRICE")
    part2.append("HANGOUTS.PRICE ")
    part3.append("HANGOUTS")
    part4.append("HANGOUTS.PRICE")
    

for i in range(len(part1)):
    if i != len(part1)-1:
        header = header + part1[i] + ','
    else:
        header = header + part1[i]
for i in range(len(part2)):
    if i != len(part2)-1:
        summ = summ + part2[i] + '+'
    else:
        summ = summ + part2[i]
for i in range(len(part3)):
    if i != len(part3)-1:
        tables = tables + part3[i] + ','
    else:
        tables = tables + part3[i]
for i in range(len(part4)):
    if i != len(part4)-1:
        cond = cond + part4[i] + '+'
    else:
        cond = cond + part4[i]
        
if '2' and '4' in x:
    cond2 = "HANGOUTS.PLACE = GAMES.PLACE"
    final_string = f'select {header},({summ}) from {tables} where ({cond}) < {maximum} and ({cond2})'
else:
    final_string = f'select {header},({summ}) from {tables} where ({cond}) < {maximum}'

print(final_string)

select GAMES.NAME,GAMES.PLACE,GAMES.PRICE,HANGOUTS.NAME,HANGOUTS.PLACE,HANGOUTS.PRICE,(GAMES.PRICE +HANGOUTS.PRICE ) from GAMES,HANGOUTS where (GAMES.PRICE+HANGOUTS.PRICE) < 10000 and HANGOUTS.PLACE = GAMES.PLACE

In [57]:
q3 = f'''
{final_string}
'''
db = 'test'
connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q3)

for data in results:
    print(data)

MySql database connection successfull
('Snooker', 'Chikkaballapur', 300.0, 'Nandhi hills', 'Chikkaballapur', 200.0, 500.0)